/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bs-body-font-family: "Poppins"!important; 
}


html {
    width: 100%;
    height: 100%;
}

body {
    color: #8795D8;
}

@media (max-width: 61.999rem) {
    body {padding-right: 0 !important;}
}

p {
    font: 400 1rem/1.625rem "Lora";
    color: #6c757d;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

#btn-back-to-top {
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    display: none;
    color: #F19DB6;
    background-color: #f8f9fa;
    border: none;
}

#btn-back-to-top:hover {
    color: #ffffff;
    background-color: #F19DB6;
}

.btn:focus {
    /* offset-x | offset-y | blur-radius | spread-radius | color :DDDD */
    box-shadow: 0 0 0 0.25rem rgba(241, 157, 182, 1);
}

/*--------------------------------------------------------------
# style of the other buttons and links
--------------------------------------------------------------*/

a {
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    color: #F19DB6;
}

.nav-link-color:hover {
    color: #F19DB6 !important;
}

.btn-info {
    background-color: #8795D8;
    border: 0;
    box-shadow: none !important;
}
.btn-info:hover{
    background-color: #F19DB6;
}
.btn-info:focus{
    background-color: #F19DB6;
    box-shadow: 0 0 0 0.25rem rgba(241, 157, 182, 1) !important;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.banner-container {
    max-width: 100%;
    margin: auto;
    background-image: url(img/pattern.png), linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    height: 100vh;
    padding-top: 12vh;
    color: #ffffff;
}

.banner-effect h2 {
    font-size: 9.765625vw;
    letter-spacing: 1.302084vw;
    font-weight: 700;
    line-height: 0.4;
    text-shadow: 12px 8px 0 rgba(255,165,190, 1);
    position: absolute;
    top: 6.25rem;
    left: 9.1vw;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.banner-effect h2 span {
    display: block;
    font-size: 3.2552084vw;
    letter-spacing: 0.938rem;
    text-shadow: 5px 5px 0 rgba(255,165,190, 1);
    text-transform: capitalize;
    padding-left: 0.5vw;
}

.banner-effect .p_img {
    display: block;
    width: auto;
    height: 67.05729166666667vw;
    position: absolute;
    top: 1.875rem;
    right: 1.25rem;
    z-index: 20;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.banner-effect h6 {
    display: block;
    position: absolute;
    width: 45%;
    font-size: 1.563rem;
    letter-spacing: 0.313rem;
    top: 21.484375vw;
    left: 10%;
    padding-right: 0;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.banner-effect .page-scroll {
    display: block;
    position: absolute;
    font-size: 6.25rem;
    letter-spacing: 0.313rem;
    top: 28.75rem;
    left: 20%;
    color: #9DB6F1;
    text-shadow: 5px 5px 0 #F19DB6;
    z-index: 25;
    transition: 0.5s;
}

.banner-effect .page-scroll:hover {
    padding-top: 10px;
    color: #8795D8;
}

.banner-effect .page-scroll:active {
    top: 30rem;
}

@media only screen and (max-width: 991px) {
    .banner-effect h2 {
        font-size: 20vw;
        left: 5vw;
        top: 4rem;
    }

    .banner-effect h2 span {
        font-size: 9vw;
    }

    .banner-effect .p_img {
        height: 30rem;
        top: 7.8rem;
        right: -10rem;
    }

    .banner-effect h6 {
        width: 57%;
        font-size: 4vw;
        top: 12rem;
        padding-top: 10vw;
        left: 5%;
    }

    .banner-effect .page-scroll {
        font-size: 11.1vh;
        top: 25rem;
        left: 10%;
    }

    .banner-effect .page-scroll:active {
        top: 26rem;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}


/*--------------------------------------------------------------
# Navigation Menu y Offcanvas
--------------------------------------------------------------*/

.site-header {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

@media (max-width: 61.999rem) {
    .offcanvas-collapse {
        position: fixed;
        top: 3.5rem; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#profile {
    transform: rotate(5deg);
}

.left-section {
    height: 100vh;
    background: linear-gradient(
    to right,
    #9DB6F1,
    #9DB6F1 31vw,
    transparent 1rem,
    transparent 100%
  );
}
@media (min-width: 1200.5px) {
    #profile {
        height: 75vh;
    }
}

@media only screen and (max-width: 991.5px) {
    .left-section {
        background: none;
        height: auto;
    }
}

.education{
    color: #F19DB6;
}
.education i{
    font-size: 2rem;
}

/*--------------------------------------------------------------
# Services - Habilidades
--------------------------------------------------------------*/

#services{
    background-size:cover;
    background-position: center center;
    background-image: url(img/pattern.png);
    background-color: rgba(241,157,182, 1);
    background-blend-mode: luminosity;
}
#services h2 {
    color: #f8f9fa;
}
.card-title {
    color: #9DB6F1;
    padding-top: 1.5rem;
}
.services-icon1 {
    color: #9DB6F1;
    font-size: 3rem;
}
#services .services{
    background: #f8f9fa;
    border-radius: 10%;
    transition: .7s ease;
    padding: 3rem;
    box-shadow: 0px 5px 25px 0px rgba(188,104,129, 1);
    height: 30vh;
}

#services .services:hover{
    padding: 3.8rem;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

#skills1 .progress{
    background: none;
    width: 22.160vh;
    height: 22.160vh;
    line-height: 10rem;
    position: relative;
}
#skills1 .progress:after{
    content: "";
    border-radius: 50%;
    border: 20px solid #f2f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#skills1 .progress > span{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#skills1 .progress .progress-left{
    left: 0;
}
#skills1 .progress .progress-bar{
    border-width: 20px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}
#skills1 .progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
#skills1 .progress .progress-right{
    right: 0;
}
#skills1 .progress .progress-right .progress-bar{
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
}
.animation .progress .progress-right .progress-bar{
    animation: loading-1 1.8s linear forwards;
}
#skills1 .progress .progress-value h2{ 
    font-size: 3rem;
    font-weight: 700;
    padding-top: 10%;
    position: relative;
}
#skills1 .progress .progress-value h6{ 
    font-size: 1rem;
    line-height: 0;
}


/* Circular progress-bars animation */

#skills1 .progress.lightblue .progress-bar{
    border-color: #9de0f1;
}
.animation .progress.lightblue .progress-left .progress-bar{
    animation: loading-2 .54s linear forwards 1.8s;
}
#skills1 .progress.yellow .progress-bar{
    border-color: #f1dd9d;
}
.animation .progress.yellow .progress-left .progress-bar{
    animation: loading-3 .72s linear forwards 1.8s;
}
#skills1 .progress.blue .progress-bar{
    border-color: #9da5f1;
}
.animation .progress.blue .progress-left .progress-bar{
    animation: loading-4 .97s linear forwards 1.8s;
}

#skills1 .progress.green .progress-bar{
    border-color: #B6F19D;
}
.animation .progress.green .progress-left .progress-bar{
    animation: loading-5 1.44s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(97deg);
        transform: rotate(97deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

/* skills 2 horizontal bars */
#skills2 .progress {
    height: 1.2rem;
}
#skills2 .progress-bar {
    background-color: #F19DB6;
}




/* -------------------------------------- */

/*             CALL TO ACTION             */

/* -------------------------------------- */

#call-to-action h2 {
    text-transform: none;
    font-size: 2.625rem;
    line-height: 2.875rem;
    letter-spacing: -0.063rem;
    max-width: 31.25rem;
    margin: 1.25rem auto 2.5rem auto;
}

#call-to-action {
    background-image: url(img/pattern.png);
    background-color: rgba(142, 169, 246, 1);
    background-blend-mode: soft-light;
    background-size: cover;
    color: #ffffff;
}

#call-to-action .btn {
    background-color: #8795D8;
    outline: #8795D8;
}

#call-to-action .btn:hover {
    background-color: #F19DB6;
}

.text-container {
	padding: 5rem 1.5rem 5rem 1.5rem;
	border-radius: 28px;
}

#call-to-action i {
    color: #F19DB6;
    font-size: 3.5rem;
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {transform: scale(1);}
    25% {transform: scale(.97);}
    35% {transform: scale(.9);}
    45% {transform: scale(1.15);}
    55% {transform: scale(.9);}
    65% {transform: scale(1.15);}
    75% {transform: scale(1);}
    100% {transform: scale(1);}
  }

/* -------------------------------------- */

/*               PORTFOLIO                */

/* -------------------------------------- */


/* ----- Portfolio transition ----- */

.overlay-transition::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0.313rem;
    background: #9DB6F1;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0.313rem;
    background: #F19DB6;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition .overlay-inner-transition {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.overlay-transition .overlay-inner-transition h5 {
    -webkit-transform: translateX(-2.5rem);
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.overlay-transition .overlay-inner-transition p {
    color: #ffffff;
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.transition:hover .overlay-transition::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.transition:hover .overlay-transition::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-delay: 0.3s;
}

.transition:hover .overlay-inner-transition h5 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.4s;
}

.transition:hover .overlay-inner-transition p {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.5s;
}

/* -------------------------------------- */

/*                CONTACT                 */

/* -------------------------------------- */

.contact-icons .fa-stack {
    width: 2em;
    margin-right: 0.25rem;
    font-size: 1.7rem;
}

.contact-icons .fa-stack-2x {
    color: #8795D8;
    transition: all 0.2s ease;
}

.contact-icons .fa-stack-1x {
    color: #ffffff;
    transition: all 0.2s ease;
}

.contact-icons .fa-stack:hover .fa-stack-2x {
    color: #F19DB6;
}

.contact-icons .fa-stack:hover .fa-stack-1x {
    color: #ffffff;
}

.iconos .fas{
    font-size: 2.5rem;
    color: #8795D8;
}

.wave {
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 112px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #9DB6F1;
}

.bg-custom {
    background-color: #9DB6F1;
}

