@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bs-body-font-family: "Poppins";
}

html {
    width: 100%;
    height: 100%;
}

p {
    font: 400 1rem/1.625rem "Lora";
}

/* This is a mess, I now */

/* -------------------------------------- */

/*                 HEADER                 */

/* -------------------------------------- */

.banner-container {
    max-width: 100%;
    margin: auto;
    background-image: linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    height: 91vh;
    padding-top: 12vh;
    color: #fff7f9;
}

.banner-effect h2 {
    font-size: 9.765625vw;
    letter-spacing: 1.302084vw;
    font-weight: 700;
    line-height: 0.4;
    position: absolute;
    top: 6.25rem;
    left: 9.765625vw;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.banner-effect h2 span {
    display: block;
    font-size: 3.2552084vw;
    letter-spacing: 0.938rem;
    text-transform: capitalize;
    padding-left: 1.953125vw;
}

.banner-effect .p_img {
    display: block;
    width: auto;
    height: 67.05729166666667vw;
    position: absolute;
    top: 1.875rem;
    right: 1.25rem;
    z-index: 20;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.banner-effect h6 {
    display: block;
    position: absolute;
    width: 45%;
    font-size: 1.563rem;
    letter-spacing: 0.313rem;
    top: 21.484375vw;
    left: 10%;
    padding-right: 0;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.banner-effect .page-scroll {
    display: block;
    position: absolute;
    font-size: 6.25rem;
    letter-spacing: 0.313rem;
    top: 28.75rem;
    left: 20%;
    color: #f29bb2;
}

.banner-effect .page-scroll:hover {
    color: #fbc2eb;
}

.banner-effect .page-scroll:active {
    top: 29.375rem ;
}

@media only screen and (max-width: 991px) {
    .banner-effect h2 {
        font-size: 20vw;
        left: 5vw;
        top: 4rem;
    }
    
    .banner-effect h2 span {
        font-size: 9vw;
    }
    
    .banner-effect .p_img {
        height: 30rem;
        top: 7.8rem;
        right: -10rem;
    }
    
    .banner-effect h6 {
        width: 57%;
        font-size: 4vw;
        top: 12rem;
        padding-top: 10vw;
        left: 5%;
    }
    
    .banner-effect .page-scroll {
        font-size: 11.1vh;
        top: 25rem;
        left: 10%;
    }

    .banner-effect .page-scroll:active {
        top: 26rem ;
    }
}



@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}



@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}





#about {
    margin-top: 5vw;
}













/* -------------------------------------- */

/*             OFFCANVAS MENU             */

/* -------------------------------------- */

@media (max-width: 61.999rem) {
    .offcanvas-collapse {
        position: fixed;
        top: 3.5rem; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}





























/* -------------------------------------- */

/*              SERVICIOS                 */

/* -------------------------------------- */

#services .card-title {
    color: #676861
}

.services-icons .fa-stack {
    width: 2em;
    margin-right: 0.25rem;
    font-size: 1.5rem;
}

.services-icons .fa-stack-2x {
    color: #f29bb2;
    transition: all 0.2s ease;
}

.services-icons .fa-stack-1x {
    color: #ffffff;
}

/* ----- Call to action  ----- */

#call-to-action h2 {
	text-transform: none;
	font-size: 2.625rem;
	line-height: 2.875rem;
	letter-spacing: -0.063rem;
	max-width: 31.25rem;
	margin: 1.25rem auto 2.5rem auto;
}


#call-to-action {
    background-image: url(img/imagen-de-referencia.jpg);
    background-color: rgba(142,169,246, 1);
    background-blend-mode: soft-light;
    background-size: cover;
	color: #fff;
}







/* ----- Links/buttons/project section ----- */

/*style of the back-to-top button*/

#btn-back-to-top {
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    display: none;
    color: #f29bb2;
    background-color: none;
    border: none;
}

#btn-back-to-top:hover {
    color: #fff;
    background-color: #f29bb2;
    border-color: #f0809e;
}

.btn:focus {
    /* offset-x | offset-y | blur-radius | spread-radius | color :DDDD */
    box-shadow: 0 0 0 0.25rem rgba(255, 163, 181, 1);
}

/*style of the other buttons and links*/

a {
    color: #676861;
    text-decoration: none;
}

a:hover {
    color: #f29bb2;
}

.nav-link-color:hover {
    color: #f29bb2 !important;
}

.btn-outline-danger {
    color: #8298d9;
    border: 0;
}
.btn-outline-danger:hover {
    background-color: #8298d9;
    border: 0;
}






 /*----- Contact -----*/

 .contact-icons .fa-stack {
    width: 2em;
    margin-right: 0.25rem;
    font-size: 1.5rem;
}

.contact-icons .fa-stack-2x {
    color: #f29bb2;
    transition: all 0.2s ease;
}

.contact-icons .fa-stack-1x {
    color: #ffffff;
    transition: all 0.2s ease;
}

.contact-icons .fa-stack:hover .fa-stack-2x {
    color: #8298d9;
}

.contact-icons .fa-stack:hover .fa-stack-1x {
    color: #ffffff;
}




/* ----- Portfolio transition ----- */

.overlay-transition::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0.313rem;
    background: #8ea9f6;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0.313rem;
    background: #f29bb2;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition .overlay-inner-transition {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.overlay-transition .overlay-inner-transition h5 {
    -webkit-transform: translateX(-2.5rem);
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.overlay-transition .overlay-inner-transition p {
    color: #fff;
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.transition:hover .overlay-transition::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.transition:hover .overlay-transition::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-delay: 0.3s;
}

.transition:hover .overlay-inner-transition h5 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.4s;
}

.transition:hover .overlay-inner-transition p {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.5s;
}
