@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bs-body-font-family: "Poppins";
}

html {
    width: 100%;
    height: 100%;
}

p {
    font: 400 1rem/1.625rem "Lora";
}

/* ----- Home ----- */

#myname-container {
    background: linear-gradient(45deg, #ffa3b5 10%, #8094dd 70%), url(img/imagen-de-referencia.jpg);
    background-blend-mode: color;
    background-size: cover;
}

.container img {
    width: 100%;
    height: auto;
}

/* ----- Offcanvas menu ----- */

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

/* ----- Links/buttons/project section ----- */

/*style of the back-to-top button*/

#btn-back-to-top {
    position: fixed;
    bottom: 70px;
    right: 30px;
    display: none;
}

.btn-outline-dark {
    color: #f29bb2;
    background-color: none;
    border: none;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #f29bb2;
    border-color: #f0809e;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
    box-shadow: 0 0 0 3px rgba(255, 163, 181, 1);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    background-color: #f29bb2;
    border-color: #f29bb2;
}

.btn-outline-dark:active,
.btn-outline-dark.active,
.show > .btn-outline-dark.dropdown-toggle {
    background-color: #f0809e;
    background-image: none;
    border-color: #f0809e;
}

a {
    color: #676861;
    text-decoration: none;
}

.nav-link-color:hover {
    color: #f29bb2 !important;
}

a:hover {
    color: #f29bb2;
}

.btn-outline-danger {
    color: #8298d9;
    border: 0px;
}
.btn-outline-danger:hover {
    background-color: #8298d9;
    border: 0px;
}

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

/* ----- Contact 

.form-1 {
    padding-top: 8.25rem;
    padding-bottom: 7.25rem;
}

.form-1 .text-container {
    margin-bottom: 4.5rem;
}

.form-1 h2 {
    margin-bottom: 0.75rem;
}

.form-1 .sub-heading {
    margin-bottom: 2.25rem;
}

.form-1 .list-unstyled {
    margin-bottom: 2rem;
}

.form-1 .fa-stack {
    width: 2em;
    margin-right: 0.25rem;
    font-size: 1.5rem;
}

.form-1 .fa-stack-2x {
    color: #f29bb2;
    transition: all 0.2s ease;
}

.form-1 .fa-stack-1x {
    color: #ffffff;
    transition: all 0.2s ease;
}

.form-1 .fa-stack:hover .fa-stack-2x {
    color: #8298d9;
}

.form-1 .fa-stack:hover .fa-stack-1x {
    color: #ffffff;
}----- */

/* ----- Portfolio transition ----- */

.overlay-transition::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #8094dd;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #f29bb2;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 0.2s ease-in;
}

.overlay-transition .overlay-inner-transition {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.overlay-transition .overlay-inner-transition h5 {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.overlay-transition .overlay-inner-transition p {
    color: #fff;
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
    opacity: 0;
    transition: 0.2s ease;
    transition-delay: 0s;
}

.transition:hover .overlay-transition::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.transition:hover .overlay-transition::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-delay: 0.3s;
}

.transition:hover .overlay-inner-transition h5 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.4s;
}

.transition:hover .overlay-inner-transition p {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.5s;
}
